<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mohitchauhan4u.covidprotector">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.COVIDPROTECTOR">
        <activity
            android:name=".About_Covid"
            android:exported="false" />
        <activity
            android:name=".When_You_Are_Out_Of_Home_7"
            android:exported="false"
            android:label="When You Are Out Of Home"
            android:parentActivityName=".When_You_Are_Out_Of_Home_6" />
        <activity
            android:name=".When_You_Are_Out_Of_Home_6"
            android:exported="false"
            android:label="When You Are Out Of Home"
            android:parentActivityName=".When_You_Are_Out_Of_Home_5" />
        <activity
            android:name=".When_You_Are_Out_Of_Home_5"
            android:exported="false"
            android:label="When You Are Out Of Home"
            android:parentActivityName=".When_You_Are_Out_Of_Home_4" />
        <activity
            android:name=".When_You_Are_Out_Of_Home_4"
            android:exported="false"
            android:label="When You Are Out Of Home"
            android:parentActivityName=".When_You_Are_Out_Of_Home_3" />
        <activity
            android:name=".When_You_Are_Out_Of_Home_3"
            android:exported="false"
            android:label="When You Are Out Of Home"
            android:parentActivityName=".When_You_Are_Out_Of_Home_2" />
        <activity
            android:name=".When_You_Are_Out_Of_Home_2"
            android:exported="false"
            android:label="When You Are Out Of Home"
            android:parentActivityName=".When_You_Are_Out_Of_Home_1" />
        <activity
            android:name=".When_You_Are_Out_Of_Home_1"
            android:exported="false"
            android:label="When You Are Out Of Home"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".prevent_spread_6"
            android:exported="false"
            android:label="Prevent Spread"
            android:parentActivityName=".prevent_spread_5" />
        <activity
            android:name=".prevent_spread_5"
            android:exported="false"
            android:label="Prevent Spread"
            android:parentActivityName=".prevent_spread_4" />
        <activity
            android:name=".prevent_spread_4"
            android:exported="false"
            android:label="Prevent Spread"
            android:parentActivityName=".prevent_spread_3" />
        <activity
            android:name=".prevent_spread_3"
            android:exported="false"
            android:label="Prevent Spread"
            android:parentActivityName=".prevent_spread_2" />
        <activity
            android:name=".prevent_spread_2"
            android:exported="false"
            android:label="Prevent Spread"
            android:parentActivityName=".prevent_spread_1" />
        <activity
            android:name=".prevent_spread_1"
            android:exported="false"
            android:label="Prevent Spread"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>